@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Work+Sans&family=Yellowtail&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
    justify-content: center;
}



.card {
    background: #FFFFFF;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-top: 24px;
}

.card:hover .iconheader {
    right: 0;
}

.iconheader {
    transition: 0.7s ease-in-out;
}

.fs-20 {
    padding-top: 24px;
    text-align: center;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 123.6%;
    color: #000000;
}

.fs-15 {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
}

.min-vh-100 {
    min-height: 100vh;
}

.w-100 {
    width: 100%;
}


.align-items-center {
    align-items: center;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.relative {
    position: relative;
}

.iconheader {
    position: absolute;
    top: 10%;
    right: -40px;
}


.iconbar1 {
    width: 40px;
    height: 40px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
}

.iconbar1:hover {
    background-color: orangered;

}

.iconbar1:hover svg path {
    fill: white;
}

.col-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

@media(min-width:576px) {
    .col-sm-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }
}


@media(min-width:768px) {
    .col-md-4 {
        width: 33.33%;
        padding-left: 12px;
        padding-right: 12px;
    }
}

@media(min-width:992px) {
    .col-lg-3 {
        width: 25%;
        padding-left: 12px;
        padding-right: 12px;
    }
}